<h1 class="mt-2">Eventos</h1>
<mat-divider></mat-divider>

<div action="" class="form">
  <div class="form-group mb-2 mt-2">
    <input
    type="text"
    class="form-control mr-2"
    placeholder="Filtrar por ..."
    style="max-width:250px;"
    [(ngModel)]="filtroEventos"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th><button class="btn btn-outline-light btn-sm" (click)="mostrarImagem()">{{!showImage ? "Exibir" : "Ocultar"}}</button></th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!showImage" [isAnimated]="true"
        src="assets/img/{{evento.imagemURL}}"
        class="rounded"
        [style.width.px]="widthImg"
        alt=""
        >
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <a href="#" [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-h"></i></a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Opção 1</button>
          <button mat-menu-item>Opção 2</button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr>
      <td colspan="8" >
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
