<app-titulo [titulo]="'Eventos'"></app-titulo>

<div action="" class="form">
  <div class="form-group mb-2 mt-2">
    <input
    type="text"
    class="form-control mr-2"
    placeholder="Filtrar por ..."
    style="max-width:250px;"
    [(ngModel)]="filtroEventos"
    autocomplete="off"
    >
  </div>
</div>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="mostrarImagem()">
          <i class="{{!showImage ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!showImage ? "Exibir" : "Ocultar"}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventosFiltrados && eventosFiltrados.length && !isLoading">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img [collapse]="!showImage" [isAnimated]="true"
        src="assets/img/{{evento.imagemURL}}"
        class="rounded"
        [style.width.px]="widthImg"
        alt=""
        >
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | date: 'dd/MM/yyyy - hh:mm' }}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <a [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-v"></i></a>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <i class="fa fa-edit"></i>
            Editar
          </button>
          <button mat-menu-item (click)="excluir()">
            <i class="fa fa-trash-alt"></i>
            Excluir
          </button>
        </mat-menu>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventosFiltrados.length">
    <tr *ngIf="isLoading || !eventosFiltrados.length">
      <td colspan="8">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </td>
    </tr>
    <tr>
      <td colspan="8" >
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
